.numericUpDown {
  margin-right: 5px;
}
.numericUpDown > div {
  float: left;
}
.numericUpDown .title {
  width: 45px;
  height: 20px;
  text-align: right;
  font-size: 1.2em;
  padding-right: 5px;
  padding-top: 10px;
}
.numericUpDown .ctrl {
  border-top: solid 1px #a0a0a0;
  border-right: solid 1px #a0a0a0;
  border-bottom: solid 1px #a0a0a0;
  border-left: solid 1px #a0a0a0;
  width: 120px;
  padding: 0;
  white-space: nowrap;
}
.numericUpDown .ctrl > div {
  margin: 0;
  height: 30px;
  float: left;
}
.numericUpDown .ctrl input {
  width: 60px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #f0f0f0;
  font-size: 1.5em;
  text-align: center;
}
.numericUpDown .ctrl .up,
.numericUpDown .ctrl .down {
  width: 30px;
  background-color: #a0a0a0;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.numericUpDown .ctrl .up.false,
.numericUpDown .ctrl .down.false {
  background-color: #d0d0d0;
}
.numericUpDownCtrlDetail {
  font-size: 0.8em;
  height: 30px;
}
.numericUpDownCtrlDetail > label {
  line-height: 38px;
}
