.sellBuyBtn {
  margin-top: 8px;
  margin-bottom: 12px;
}
.sellBuyBtn .inner {
  margin: 0 8px 0 8px;
}
.sellBuyBtn .inner .btn.trade {
  height: 55px;
  width: 130px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.sellBuyBtn .inner .btn.trade .btnLabel {
  position: relative;
  width: 46px;
  text-align: center;
  height: 17px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.sellBuyBtn .inner .btn.trade .price {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  top: 5px;
}
.sellBuyBtn .inner .btn.trade .price span {
  text-shadow: 1px -1px #000;
}
.sellBuyBtn .inner .btn.trade .price span.major {
  font-size: 2em;
}
.sellBuyBtn .inner .btn.trade .price span.minor {
  font-size: 1.4em;
}
.sellBuyBtn .inner .btn.trade h3 {
  position: relative;
  top: -18px;
  font-size: 0.8em;
  font-weight: normal;
}
.sellBuyBtn .inner .btn.trade.sell {
  background-color: #c83933;
  float: left;
}
.sellBuyBtn .inner .btn.trade.sell .btnLabel {
  left: 25px;
  background-color: #d04b45;
}
.sellBuyBtn .inner .btn.trade.buy {
  background-color: #00838b;
  float: right;
}
.sellBuyBtn .inner .btn.trade.buy .btnLabel {
  left: 65px;
  background-color: #009ba5;
}
