.switch {
  height: 30px;
  width: 50px;
  border-top: solid 1px #a0a0a0;
  border-right: solid 1px #a0a0a0;
  border-bottom: solid 1px #a0a0a0;
  border-left: solid 1px #a0a0a0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.switch .button {
  height: 28px;
  width: 28px;
  border-top: solid 1px #a0a0a0;
  border-right: solid 1px #a0a0a0;
  border-bottom: solid 1px #a0a0a0;
  border-left: solid 1px #a0a0a0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.switch.on {
  background-color: #00838b;
}
.switch.on .button {
  background-color: #fff;
  float: right;
}
.switch.off {
  background-color: #fff;
}
.switch.off .button {
  background-color: #fff;
  box-shadow: 1px 1px 1px #999;
}
