@require('platform.styl')


toolbar-item()
	flex-ratio()
	height $toolBarHeight
	line-height $toolBarHeight


section#toolbar
	height $toolBarHeight
	flexi()
	center-v()
	#toolbar-left-item
		toolbar-item()
		white-space nowrap
		color $spxGreenColor
	
	h1
		font-size 1.5em
		flex-ratio(3)
		text-align center
		color $toolBarHeadingColor
	
	#toolbar-right-item
		toolbar-item()
		text-align center
		padding-right 3px
		visibility hidden