
<my-panel>
	<div class="device form" ng-show="isPortrait">
		<h1>Device Info</h1>
		<div>
			<label>Name</label>
			<span>{{name}}</span>
		</div>
		<div>
			<label>Phonegap</label>
			<span>{{phonegap}}</span>
		</div>
		<div>
			<label>Platform</label>
			<span>{{platform}}</span>
		</div>
		<div>
			<label>UUID</label><br/>
			<span>{{uuid}}</span>
		</div>
		<div>
			<label>Version</label>
			<span>{{version}}</span>
		</div>
	</div>
	<div class="device chart" ng-show="isLandscape">
		<h1>Full-screen Device Chart</h1>
	</div>
</my-panel>
