<div class="price menu">
    <article ng-repeat="item in menu" ng-click="navigation.navigate(item.navigateVref);">
        <div class="nav">
            <div class="title">{{item.title}}</div>
            <div class="priceinfo">
	            <span ng-class="item.chg === 0 ? 'price' : item.chg > 0 ? 'plus price' : 'minus price' ">{{item.sell}}</span>
	            <span ng-class="item.chg === 0 ? 'price' : item.chg > 0 ? 'plus price' : 'minus price' ">{{item.buy}}</span>
	            <span ng-class="item.cod > 0 ? 'plus price' : 'minus price' ">{{item.cod}}</span>
	            <span ng-class="item.cod > 0 ? 'plus price' : 'minus price' ">%{{item.codp}}</span>
	        </div>
        </div>
    </article>
</div>
