@require('platform.styl')

.device.form
	display block
	div
		margin 3px

		label
			font-weight bold
			margin-right 5px

.device.chart
	display none
	h1
		font-size 3em
	
html.landscape
	.device.form
		display none
	.device.chart
		display block