@require('platform.styl')

.sellBuyBtn 
	margin-top 8px
	margin-bottom 12px
	.inner
		margin 0 8px 0 8px
		.btn.trade
			height 55px
			width 130px
			font-weight bold
			color white
			background-color black
			round-corners(8px)
			.btnLabel 
				position relative
				width 46px
				text-align center
				height 17px
				round-corners(corners: bottom-left bottom-right)
			
			.price
				flexi()
				align-items center
				justify-content center
				position relative
				top 5px
				span
					text-shadow 1px -1px #000
				
				span.major
					font-size 2.0em
				
				span.minor
					font-size 1.4em
				
			h3
				position relative
				top -18px
				font-size 0.8em
				font-weight normal
		
		.btn.trade.sell
			background-color #c83933
			float left
			.btnLabel
				left 25px
				background-color lighten($sellColor, 10%)
			
		
		.btn.trade.buy
			background-color #00838b
			float right
			.btnLabel
				left 65px
				background-color lighten($buyColor, 7%)

