@require('platform.styl')


toolbar-item()
	flex-ratio()
	height $toolBarHeight
	line-height $toolBarHeight


section#toolbar
	height $toolBarHeight
	flexi()
	center-v()
	#toolbar-left-item
		toolbar-item()
		white-space nowrap
		color $spxGreenColor
	
	h1
		font-size 1.3em
		flex-ratio()
		text-align center
		color $toolBarHeadingColor
		white-space nowrap
	
	#toolbar-right-item
		toolbar-item()
		text-align center
		padding-right 3px
		> span
			display inline-block
			margin-right 5px
			background url('images/platform/toolbar-icons.svg') no-repeat 0 0

		span.off
			display none

				

			