@require('platform.styl')


.trade.icon
	background url('images/trade-icons.jpg') no-repeat -5px 0

.trade.icon.icon1
	background-position -5px 0

.trade.icon.icon2
	background-position -47px 0

.trade.icon.icon3
	background-position -88px 0

.trade.icon.icon4
	background-position -130px 0

