@require('../base/platform.styl')


@font-face
	font-family 'roboto'
	src url('../ttf-fonts/Roboto-Regular-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal 

@font-face
	font-family 'robotobold'
	src url('../ttf-fonts/Roboto-Bold-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'robotothin'
	src url('../ttf-fonts/Roboto-Thin-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'robotocondensedbold'
	src url('../ttf-fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal


brightBorderColor = #33b5e5
android4Black = #030303


html.android

	section#app 
		section#main 
			linear-gradient-2-stops(#08090a, #21252a)

	section#summaryBanner
		position absolute
		bottom 0
		left 0
		width 100%
		borders(brightBorderColor, sides:"top")
		background none
		background-color android4Black

	section#toolbar
		//linear-gradient-3-stops(#5a595a, #202420 50%, #202420)
		linear-gradient-3-stops(#303b43, #0e1417 50%, #0e1417)
		#toolbar-left-item
			background url('images/platform/hw-back.svg') no-repeat 50% 0
		h1
			font-family 'robotocondensedbold'
			font-weight normal


	section#tabbar
		border none
		background-color android4Black
		borders(brightBorderColor, sides:"top")
		padding-top 4px
		div.tab
			height 38px
			borders(brightBorderColor, sides:"bottom")
			margin-right 1px
			div.inner
				height 35px
				borders(#292a2b, sides:"right")
				div.title
					flexi()
					align-items()
					justify-content()
					color white
					font-size 0.9em
				
				div.notifyrow
					height 15px
					div.notify
						square(15)
						margin 0 2px 0 0
						float right
						top -2px
						background-color #42b939
						font-weight normal
						font-size 0.75em

		div.tab.selected
			background none
			background-color #030303
			div.inner 
				borders(brightBorderColor, 3px, "bottom")


	div.priceinfoheader
		background-color #202020
		box-shadow 0 1px 6px #000

	div.menu
		background none
		color #bbbcbb
		article
			borders(#333734, sides:"bottom")
			> div.nav
				padding 0
				div.title
					font-family 'robotobold'
					color #f0f0f0

	div.price.menu
		article
			background url('images/fe-mono.png') no-repeat 3px 50%



