$bodyBgColor = black

//============================================
// Views
//============================================
$summaryBannerTextColor = #bbbcbb
$summaryBannerButtonColor = rgba(0,0,0,0.5)
$summaryBannerButtonBorderColor = black