@require('platform.styl')


.form
	.row
		min-height 30px
		margin 0 0 10px 0

		> div
			float left

		.note
			font-size 0.8em
		
		.heading
			font-size 1.2em
		
		.forNumericUpDownCtrl
			margin-left 48px
		
		.col2
			margin-left 10px
