@require('../common.styl')


//============================================
// Colours
//============================================
$textColor = #303030
$borderColor = #a5a5a5
$bgColorViewBody = #f9f9f9
$bgColorPanel = #ffffff
$buttonColor = #a0a0a0
$disabledButtonColor = #d0d0d0
$textBoxColor = #f0f0f0
$inputBorderColor = #aaa
$bodyBgColor = white
$mainBgColor = white
$slideBgColor = white

//============================================
// Font
//============================================
$fontSize = 12px
$font = arial, helvetica, sans-serif


//============================================
// Common
//============================================
$marginTopHeight = 20px
$tableRowHeight = 42px



//============================================
// Views
//============================================
$summaryBannerHeight = 40px
$summaryBannerTextColor = white
$summaryBannerButtonColor = darken($spxGreenColor, 5%)
$summaryBannerButtonBorderColor = darken($spxGreenColor, 10%)

$tabBarHeight = 50px
$tabBarTextColor = #b0b0b0
$tabBarActiveTextColor = #007aff


$toolBarHeight = 50px
$toolBarHeadingColor = white


$switchBgColorOn = #41d86c
$switchButtonColorOn = #fff
$switchBgColorOff = #fff
$switchButtonColorOff = #fff


$menuRowBottomBorderColor = #aaa



@require('platform-overrides.styl')

