// Android Platform Overrides

$bodyBgColor = black
$mainBgColor = black
$slideBgColor = black

//============================================
// Views
//============================================
$summaryBannerTextColor = #bbbcbb
$summaryBannerButtonColor = rgba(0,0,0,0.2)
$summaryBannerButtonBorderColor = black