.slide-container{position:absolute;width:100%;height:100%;}
.slide-container .slide{position:absolute;width:100%;height:100%;-webkit-transition:all .25s linear !important;transition:all .25s linear !important}
html,body,h1,h2,h3,ul,section{padding:0;margin:0}
section{width:100%}
html{font-family:arial,helvetica,sans-serif;font-size:12px;color:#303030;background-color:#fff}
.oops{background:url("images/platform/oops.png") no-repeat 50% 50%}
a:link,a:visited,a:hover{text-decoration:none}
ul > li{list-style-image:none;display:inline-block}
.hide{visibility:hidden}
span.sell{color:#c83933}
span.buy{color:#00838b}
div.loading{display:block}
div.loaded{display:none}
.viewBody{padding:5px;border-right:solid 1px #a5a5a5;border-bottom:solid 1px #a5a5a5;border-left:solid 1px #a5a5a5;margin:5px;margin-top:0;background-color:#f9f9f9}
.panel{padding:5px;margin:5px;border-top:solid 1px #000;border-right:solid 1px #000;border-bottom:solid 1px #000;border-left:solid 1px #000;background-color:#fff}
.clear{clear:both}
input[type="text"]{height:28px;padding:1px 3px}
input[type="text"].search{background:#fff url("images/search-small.svg") no-repeat 5% 40%}

.slide-container{position:absolute;width:100%;height:100%;}
.slide-container .slide{position:absolute;width:100%;height:100%;-webkit-transition:all .25s linear !important;transition:all .25s linear !important}
#app.forward #main .slide.ng-enter{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
#app.forward #main .slide.ng-enter.ng-enter-active{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
#app.forward #main .slide.ng-leave,#app.forward #main .slide.ng-leave.ng-leave-active{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}
#app.back #main .slide.ng-enter{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}
#app.back #main .slide.ng-enter.ng-enter-active{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
#app.back #main .slide.ng-leave{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
#app.back #main .slide.ng-leave.ng-leave-active{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
#app.tab #main .slide.ng-enter{opacity:0}
#app.tab #main .slide.ng-enter.ng-enter-active{opacity:1}
#app.tab #main .slide.ng-leave,#app.tab #main .slide.ng-leave.ng-leave-active{opacity:0}

.slide-container{position:absolute;width:100%;height:100%;}
.slide-container .slide{position:absolute;width:100%;height:100%;-webkit-transition:all .25s linear !important;transition:all .25s linear !important}
.form .row{min-height:30px;margin:0 0 10px 0;}
.form .row > div{float:left}
.form .row .note{font-size:.8em}
.form .row .heading{font-size:1.2em}
.form .row .forNumericUpDownCtrl{margin-left:48px}
.form .row .col2{margin-left:10px}

.slide-container{position:absolute;width:100%;height:100%;}
.slide-container .slide{position:absolute;width:100%;height:100%;-webkit-transition:all .25s linear !important;transition:all .25s linear !important}
section#app{height:100%;overflow:hidden;}
section#app section#main{background-color:#fff;}
section#app section#main .slide{overflow-y:auto;overflow-x:hidden;background-color:#fff}
html.landscape section#app section#toolbar,html.landscape section#app section#summaryBanner,html.landscape section#app section#tabbar{display:none}

.slide-container{position:absolute;width:100%;height:100%;}
.slide-container .slide{position:absolute;width:100%;height:100%;-webkit-transition:all .25s linear !important;transition:all .25s linear !important}
div.priceinfoheader{padding:2px 0 0 40px;height:18px;background-color:#909090;}
div.priceinfoheader > span{display:inline-block;width:62px;font-size:.9em}
div.menu article{height:42px;border-bottom:solid 1px #aaa;padding:4px 0 0 4px;}
div.menu article > div{height:42px;padding:0 0 0 5px}
div.menu article > div.nav{padding:0}
div.main.menu article > div{padding:0 0 0 5px;line-height:42px}
div.price.menu article div.inner{padding:4px 0 0 40px;}
div.price.menu article div.inner .priceinfo{margin:4px 0 0 0;}
div.price.menu article div.inner .priceinfo .title{font-weight:bold}
div.price.menu article div.inner .priceinfo > span{display:inline-block;width:62px;font-size:.9em}
div.price.menu article div.inner .priceinfo .price.plus{color:#00838b}
div.price.menu article div.inner .priceinfo .price.minus{color:#c83933}

.slide-container{position:absolute;width:100%;height:100%;}
.slide-container .slide{position:absolute;width:100%;height:100%;-webkit-transition:all .25s linear !important;transition:all .25s linear !important}
.numericUpDown{margin-right:5px;}
.numericUpDown > div{float:left}
.numericUpDown .title{width:45px;height:20px;text-align:right;font-size:1.2em;padding-right:5px;padding-top:10px}
.numericUpDown .ctrl{border-top:solid 1px #a0a0a0;border-right:solid 1px #a0a0a0;border-bottom:solid 1px #a0a0a0;border-left:solid 1px #a0a0a0;padding:0;white-space:nowrap;}
.numericUpDown .ctrl > div{margin:0;height:30px;float:left}
.numericUpDown .ctrl input{width:60px;height:30px;margin:0;padding:0;border:none;background-color:#f0f0f0;font-size:1.5em;text-align:center}
.numericUpDown .ctrl .up,.numericUpDown .ctrl .down{width:30px;background-color:#a0a0a0;font-size:2em;font-weight:bold;color:#fff;text-align:center;line-height:30px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.numericUpDown .ctrl .up.false,.numericUpDown .ctrl .down.false{background-color:#d0d0d0}
.numericUpDownCtrlDetail{font-size:.8em;height:30px;}
.numericUpDownCtrlDetail > label{line-height:38px}


.slide-container{position:absolute;width:100%;height:100%;}
.slide-container .slide{position:absolute;width:100%;height:100%;-webkit-transition:all .25s linear !important;transition:all .25s linear !important}

.slide-container{position:absolute;width:100%;height:100%;}
.slide-container .slide{position:absolute;width:100%;height:100%;-webkit-transition:all .25s linear !important;transition:all .25s linear !important}
.sellBuyBtn{margin-top:8px;margin-bottom:12px;}
.sellBuyBtn .inner{margin:0 8px 0 8px;}
.sellBuyBtn .inner .btn.trade{height:55px;width:130px;font-weight:bold;color:#fff;background-color:#000;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-right-radius:8px;border-bottom-left-radius:8px;}
.sellBuyBtn .inner .btn.trade .btnLabel{position:relative;width:46px;text-align:center;height:17px;border-bottom-right-radius:6px;border-bottom-left-radius:6px}
.sellBuyBtn .inner .btn.trade .price{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;position:relative;top:5px;}
.sellBuyBtn .inner .btn.trade .price span{text-shadow:1px -1px #000}
.sellBuyBtn .inner .btn.trade .price span.major{font-size:2em}
.sellBuyBtn .inner .btn.trade .price span.minor{font-size:1.4em}
.sellBuyBtn .inner .btn.trade h3{position:relative;top:-18px;font-size:.8em;font-weight:normal}
.sellBuyBtn .inner .btn.trade.sell{background-color:#c83933;float:left;}
.sellBuyBtn .inner .btn.trade.sell .btnLabel{left:25px;background-color:#d04b45}
.sellBuyBtn .inner .btn.trade.buy{background-color:#00838b;float:right;}
.sellBuyBtn .inner .btn.trade.buy .btnLabel{left:65px;background-color:#009ba5}

.slide-container{position:absolute;width:100%;height:100%;}
.slide-container .slide{position:absolute;width:100%;height:100%;-webkit-transition:all .25s linear !important;transition:all .25s linear !important}
.switch{height:30px;width:50px;border-top:solid 1px #a0a0a0;border-right:solid 1px #a0a0a0;border-bottom:solid 1px #a0a0a0;border-left:solid 1px #a0a0a0;border-top-left-radius:20px;border-top-right-radius:20px;border-bottom-right-radius:20px;border-bottom-left-radius:20px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.switch .button{height:28px;width:28px;border-top:solid 1px #a0a0a0;border-right:solid 1px #a0a0a0;border-bottom:solid 1px #a0a0a0;border-left:solid 1px #a0a0a0;border-top-left-radius:15px;border-top-right-radius:15px;border-bottom-right-radius:15px;border-bottom-left-radius:15px}
.switch.on{background-color:#00838b;}
.switch.on .button{background-color:#fff;float:right}
.switch.off{background-color:#fff;}
.switch.off .button{background-color:#fff;box-shadow:1px 1px 1px #999}

.slide-container{position:absolute;width:100%;height:100%;}
.slide-container .slide{position:absolute;width:100%;height:100%;-webkit-transition:all .25s linear !important;transition:all .25s linear !important}
section#tabbar{z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;}
section#tabbar div.tab{-moz-box-flex:1;-webkit-box-flex:1;-ms-flex:1;flex:1;}
section#tabbar div.tab div.inner,section#tabbar div.tab position relative{width:100%;height:50px;}
section#tabbar div.tab div.inner div.title,section#tabbar div.tab position relative div.title{font-size:.8em;margin:0;padding:0;text-align:center}
section#tabbar div.tab div.inner div.notify,section#tabbar div.tab position relative div.notify{height:15px;width:15px;margin:0 auto 0 auto;position:relative;font-weight:bold;text-align:center;color:#fff;font-size:.9em}

.slide-container{position:absolute;width:100%;height:100%;}
.slide-container .slide{position:absolute;width:100%;height:100%;-webkit-transition:all .25s linear !important;transition:all .25s linear !important}
section#toolbar{height:50px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
section#toolbar #toolbar-left-item{-moz-box-flex:1;-webkit-box-flex:1;-ms-flex:1;flex:1;height:50px;line-height:50px;white-space:nowrap;color:#00838b}
section#toolbar h1{font-size:1.3em;-moz-box-flex:1;-webkit-box-flex:1;-ms-flex:1;flex:1;text-align:center;color:#fff;white-space:nowrap}
section#toolbar #toolbar-right-item{-moz-box-flex:1;-webkit-box-flex:1;-ms-flex:1;flex:1;height:50px;line-height:50px;text-align:center;padding-right:3px;}
section#toolbar #toolbar-right-item > span{display:inline-block;margin-right:5px;background:url("images/platform/toolbar-icons.svg") no-repeat 0 0}
section#toolbar #toolbar-right-item span.off{display:none}

.slide-container{position:absolute;width:100%;height:100%;}
.slide-container .slide{position:absolute;width:100%;height:100%;-webkit-transition:all .25s linear !important;transition:all .25s linear !important}
.tradeBanner{padding:0;margin:5px;margin-bottom:0;}
.tradeBanner div.icon{height:40px;width:40px;border-top:solid 1px #a5a5a5;border-right:solid 1px #a5a5a5;border-bottom:solid 1px #a5a5a5;border-left:solid 1px #a5a5a5;background-color:#fff}
.tradeBanner div.icon.left{border-top-left-radius:6px;float:left}
.tradeBanner div.icon.right{border-top-right-radius:6px;float:right;position:relative;top:-42px;margin-bottom:-42px}
.tradeBanner div.title{height:40px;line-height:40px;margin:0 5px 0 5px;text-align:center;border-top:solid 1px #a5a5a5;border-bottom:solid 1px #a5a5a5;background-color:#fff}

.slide-container{position:absolute;width:100%;height:100%;}
.slide-container .slide{position:absolute;width:100%;height:100%;-webkit-transition:all .25s linear !important;transition:all .25s linear !important}
.trade.icon{background:url("images/trade-icons.jpg") no-repeat -5px 0}
.trade.icon.icon1{background-position:-5px 0}
.trade.icon.icon2{background-position:-47px 0}
.trade.icon.icon3{background-position:-88px 0}
.trade.icon.icon4{background-position:-130px 0}

.slide-container{position:absolute;width:100%;height:100%;}
.slide-container .slide{position:absolute;width:100%;height:100%;-webkit-transition:all .25s linear !important;transition:all .25s linear !important}
section#summaryBanner{height:40px;background-color:#00838b;color:#fff;overflow:hidden;position:relative;}
section#summaryBanner div.inner div.slide > div{height:40px}
section#summaryBanner div.inner div.slide div#summary{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;}
section#summaryBanner div.inner div.slide div#summary div.flx{-moz-box-flex:1;-webkit-box-flex:1;-ms-flex:1;flex:1;}
section#summaryBanner div.inner div.slide div#summary div.flx > div{padding-top:3px;}
section#summaryBanner div.inner div.slide div#summary div.flx > div label{display:inline-block;text-align:right;font-weight:bold}
section#summaryBanner div.inner div.slide div#summary div.flx > div label.col1{width:60px}
section#summaryBanner div.inner div.slide div#summary div.flx > div label.col2{width:40px}
section#summaryBanner div.inner div.slide div#summary div.flx > div span{display:inline-block;text-align:right;min-width:65px}
section#summaryBanner div.inner div.slide div#summary #btnViewSearch{height:30px;width:30px;position:relative;top:4px;left:-6px;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;background:#898989 url("images/search.svg") no-repeat 65% 50%;border-top:solid 1px #828282;border-right:solid 1px #828282;border-bottom:solid 1px #828282;border-left:solid 1px #828282}
section#summaryBanner div.inner div.slide div#search span{display:inline-block;height:30px;width:60px;line-height:30px;margin:4px 0 0 10px;text-align:center;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;font-size:.9em;background-color:#898989;border-top:solid 1px #828282;border-right:solid 1px #828282;border-bottom:solid 1px #828282;border-left:solid 1px #828282}
section#summaryBanner div.inner div.slide div#search input{margin-left:10px;border-top:solid 1px #000;border-right:solid 1px #000;border-bottom:solid 1px #000;border-left:solid 1px #000}
section#summaryBanner div.inner.summary div.slide{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
section#summaryBanner div.inner.search div.slide{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}


.slide-container{position:absolute;width:100%;height:100%;}
.slide-container .slide{position:absolute;width:100%;height:100%;-webkit-transition:all .25s linear !important;transition:all .25s linear !important}
html.ios > *{-webkit-tap-highlight-color:rgba(0,0,0,0);font-family:-apple-system-font,arial;}
html.ios > * ::-webkit-scrollbar{display:none}
html.ios input[type="text"].norm{border-top:solid 1px #606060 !important;border-right:solid 1px #606060 !important;border-bottom:solid 1px #606060 !important;border-left:solid 1px #606060 !important;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px}
html.ios section#main{overflow-y:hidden;}
html.ios section#main .view-wrapper{padding-top:90px}
html.ios section#app{margin-top:20px}
html.ios section#summaryBanner{background:#909090;position:absolute;background-color:rgba(200,200,200,0.9);top:70px;z-index:1;}
html.ios section#summaryBanner div.inner div.slide div#search input{margin-top:3px}
html.ios section#toolbar{position:absolute;top:20px;z-index:1;background:rgba(255,255,255,0.9) repeat-x bottom left url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#000' x='0' y='0' width='1' height='0.5'/></svg>");}
html.ios section#toolbar h1{color:#000}
html.ios section#toolbar #toolbar-left-item{padding-left:18px;background:url("images/platform/left-green.svg") no-repeat 3% 50%}
html.ios section#toolbar #toolbar-right-item > span{height:24px;width:24px;position:relative;top:12px}
html.ios section#toolbar #toolbar-right-item span.chart{background-position:-7px -6px}
html.ios section#toolbar #toolbar-right-item span.edit{background-position:-48px -6px}
html.ios section#toolbar #toolbar-right-item span.delete{background-position:-89px -6px}
html.ios section#tabbar{position:absolute;bottom:0;left:0;width:100%;background-color:#e0e0e0;}
html.ios section#tabbar div.tab div.inner div.title{font-size:.9em;margin-top:15px}
html.ios section#tabbar div.tab div.inner div.notify{top:1px;left:10px;border-top:solid 1px #fff;border-right:solid 1px #fff;border-bottom:solid 1px #fff;border-left:solid 1px #fff;background-color:#f00;border-top-left-radius:6px;border-top-right-radius:6px;border-bottom-right-radius:6px;border-bottom-left-radius:6px}
html.ios section#tabbar div.watchlist{background:url("images/platform/tab-bar-icons2.png") no-repeat 50% 5px}
html.ios section#tabbar div.watchlist.selected{background:url("images/platform/tab-bar-icons2-sel.png") no-repeat 50% 5px}
html.ios section#tabbar div.browse{background:url("images/platform/tab-bar-icons2.png") no-repeat 50% -50px}
html.ios section#tabbar div.browse.selected{background:url("images/platform/tab-bar-icons2-sel.png") no-repeat 50% -50px}
html.ios section#tabbar div.position{background:url("images/platform/tab-bar-icons2.png") no-repeat 50% -105px}
html.ios section#tabbar div.position.selected{background:url("images/platform/tab-bar-icons2-sel.png") no-repeat 50% -105px}
html.ios section#tabbar div.account{background:url("images/platform/tab-bar-icons2.png") no-repeat 50% -160px}
html.ios section#tabbar div.account.selected{background:url("images/platform/tab-bar-icons2-sel.png") no-repeat 50% -160px}
html.ios section#tabbar div.help{background:url("images/platform/tab-bar-icons2.png") no-repeat 50% -215px}
html.ios section#tabbar div.help.selected{background:url("images/platform/tab-bar-icons2-sel.png") no-repeat 50% -215px}
html.ios section#tabbar div.selected{color:#007aff}
html.ios div.priceinfoheader{background-image:-webkit-linear-gradient(top,#666,#000 50%,#000);background-image:-moz-linear-gradient(top,#666,#000 50%,#000);background-image:-ms-linear-gradient(top,#666,#000 50%,#000);background-image:-o-linear-gradient(top,#666,#000 50%,#000);background-image:linear-gradient(top,#666,#000 50%,#000);color:#fff;border-bottom:solid 1px #000;}
html.ios div.menu{background-color:#fff;}
html.ios div.menu article{border:none;background:#fff repeat-x bottom left url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#a0a0a0' x='0' y='0' width='1' height='0.5'/></svg>");}
html.ios div.menu article > div.nav{background:url("images/platform/right.svg") no-repeat right 50%;padding:0}
html.ios div.price.menu article{background:#fff repeat-x bottom left url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#a0a0a0' x='0' y='0' width='1' height='0.5'/></svg>");}
html.ios div.price.menu article div.inner{background:url("images/fe.png") no-repeat 3px 50%}
html.ios #app.forward #main .slide.ng-enter,html.ios #app.forward #main .slide.ng-enter.ng-enter-active{-webkit-transition:all .25s linear !important;transition:all .25s linear !important}
html.ios #app.forward #main .slide.ng-leave{-webkit-transition:all .9s linear !important;transition:all .9s linear !important}
@media only screen and (max-device-width: 480px){html.ios{font-family:-apple-system-font;font-size:17px/21px;}
html.ios section#main{overflow:scroll;-webkit-overflow-scrolling:touch}
}