// iOS Platform Overrides

$inputBorderColor = #a0a0a0
$summaryBannerBgColor = #909090
$summaryBannerButtonColor = darken($summaryBannerBgColor, 5%)
$summaryBannerButtonBorderColor = darken($summaryBannerBgColor, 10%)