.reset {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, helvetica, sans-serif;
  font-size: 12px;
}
h1 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
/* 
==================================================================================
Constants
==================================================================================
*/
/* 
==================================================================================
Dev
==================================================================================
*/
div#dev {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 200px;
}
div#dev span {
  margin-left: 20px;
  color: #aaa;
}
div#dev span.selected {
  font-weight: bold;
  color: #c83933;
}
/* 
==================================================================================
Master View Sections
==================================================================================
*/
section#app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
section#app section#main {
  overflow: auto;
  background-color: #000000;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* 
==================================================================================
Tool Bar
==================================================================================
*/
.toolbar-item {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  /*box-flex: @ratio;*/
  flex: 1;
  height: 42px;
  line-height: 42px;
}
.toolbar-item a:link,
.toolbar-item a:visited,
.toolbar-item a:hover {
  text-decoration: none;
  color: #00838b;
}
section#toolbar {
  height: 50px;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  /*display: -webkit-flex; */
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
section#toolbar #toolbar-left-item {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  /*box-flex: @ratio;*/
  flex: 1;
  height: 42px;
  line-height: 42px;
  white-space: nowrap;
  color: #00838b;
}
section#toolbar #toolbar-left-item a:link,
section#toolbar #toolbar-left-item a:visited,
section#toolbar #toolbar-left-item a:hover {
  text-decoration: none;
  color: #00838b;
}
section#toolbar h1 {
  font-size: 1.5em;
  -moz-box-flex: 3;
  -webkit-box-flex: 3;
  -ms-flex: 3;
  /*box-flex: @ratio;*/
  flex: 3;
  text-align: center;
}
section#toolbar #toolbar-right-item {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  /*box-flex: @ratio;*/
  flex: 1;
  height: 42px;
  line-height: 42px;
  text-align: center;
  padding-right: 3px;
  visibility: hidden;
}
section#toolbar #toolbar-right-item a:link,
section#toolbar #toolbar-right-item a:visited,
section#toolbar #toolbar-right-item a:hover {
  text-decoration: none;
  color: #00838b;
}
/* 
==================================================================================
User Summary
==================================================================================
*/
div#summaryBanner {
  height: 40px;
  background-color: #00838b;
  color: white;
  overflow: hidden;
  position: relative;
}
div#summaryBanner div.inner {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.25s linear!important;
  transition: all 0.25s linear!important;
}
div#summaryBanner div.inner > div {
  height: 40px;
}
div#summaryBanner div.inner div#summary {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  /*display: -webkit-flex; */
  display: flex;
}
div#summaryBanner div.inner div#summary div.flx {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  /*box-flex: @ratio;*/
  flex: 1;
}
div#summaryBanner div.inner div#summary div.flx > div {
  padding-top: 3px;
}
div#summaryBanner div.inner div#summary div.flx > div label {
  display: inline-block;
  text-align: right;
}
div#summaryBanner div.inner div#summary div.flx > div label.col1 {
  width: 60px;
}
div#summaryBanner div.inner div#summary div.flx > div label.col2 {
  width: 40px;
}
div#summaryBanner div.inner div#summary div.flx > div span {
  display: inline-block;
  text-align: right;
  min-width: 65px;
}
div#summaryBanner div.inner div#summary #btnViewSearch {
  height: 30px;
  width: 30px;
  position: relative;
  top: 4px;
  left: -6px;
  border-radius: 4px;
}
div#summaryBanner div.inner div#search span {
  display: inline-block;
  height: 30px;
  width: 60px;
  line-height: 30px;
  margin: 4px 0 0 10px;
  text-align: center;
  border-radius: 3px;
  font-size: 0.9em;
}
div#summaryBanner div.inner div#search input {
  margin-left: 10px;
  border: solid 1px #aaaaaa;
}
div#summaryBanner div.inner.summary {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
div#summaryBanner div.inner.search {
  -webkit-transform: translate3d(0, -40px, 0);
  transform: translate3d(0, -40px, 0);
}
/* 
==================================================================================
Tab Bar
==================================================================================
*/
section#tabbar {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  /*display: -webkit-flex; */
  display: flex;
}
section#tabbar div.tab {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  /*box-flex: @ratio;*/
  flex: 1;
}
section#tabbar div.tab div.inner {
  width: 100%;
}
section#tabbar div.tab div.inner div.title {
  font-size: 0.8em;
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
}
section#tabbar div.tab div.inner div.notify {
  height: 15px;
  width: 15px;
  margin: 0 auto 0 auto;
  position: relative;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 0.9em;
}
/* 
==================================================================================
Prevent Default
==================================================================================
*/
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* 
==================================================================================
Alignment
==================================================================================
*/
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  /*display: -webkit-flex; */
  display: flex;
}
/* box-align: start|end|center|baseline|stretch; */
.centerV {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.bottomV {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: end;
  align-items: end;
}
/* box-pack: start|end|center|justify; */
.centerH {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.rightH {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: end;
  justify-content: end;
}
.leftH {
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  /*display: -webkit-flex; */
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* 
==================================================================================
Borders
==================================================================================
*/
/* 
==================================================================================
Grads
==================================================================================
*/
.toolbarGrad {
  background: -webkit-linear-gradient(#666666, #000000 50%, #000000);
  background: -o-linear-gradient(#666666, #000000 50%, #000000);
  background: -moz-linear-gradient(#666666, #000000 50%, #000000);
  background: linear-gradient(#666666, #000000 50%, #000000);
}
/* 
==================================================================================
Common Text
==================================================================================
*/
span.sell {
  color: #c83933;
}
span.buy {
  color: #00838b;
}
/* 
==================================================================================
Common List
==================================================================================
*/
ul > li {
  list-style-image: none;
  display: inline-block;
}
/* 
==================================================================================
Page Slider
==================================================================================
*/
.stageRight {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.stageLeft {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.stageCenter {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slidecontainer {
  position: relative;
}
.slidecontainer .slide.ng-enter,
.slidecontainer .slide.ng-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.25s linear all;
  transition: 0.25s linear all;
}
#app.forward .slide.ng-enter {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
#app.forward .slide.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#app.forward .slide.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
#app.back .slide.ng-enter {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
#app.back .slide.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#app.back .slide.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
#app.tab .slide.ng-enter {
  opacity: 0;
}
#app.tab .slide.ng-enter.ng-enter-active {
  opacity: 1;
}
#app.tab .slide.ng-leave.ng-leave-active {
  opacity: 0;
}
div.loading {
  display: block;
}
div.loaded {
  display: none;
}
.hide {
  visibility: hidden;
}
/* 
==================================================================================
Round Corners
==================================================================================
*/
/* 
==================================================================================
User Controls
==================================================================================
*/
/*--Trade View Banner--------------------------------------------------------*/
.tradeBanner {
  padding: 0;
  margin: 5px;
  margin-bottom: 0;
}
.tradeBanner div.icon {
  height: 40px;
  width: 40px;
  border: solid 1px #a5a5a5;
  background-color: white;
}
.tradeBanner div.icon.left {
  border-top-left-radius: 6px;
  float: left;
}
.tradeBanner div.icon.right {
  border-top-right-radius: 6px;
  float: right;
  position: relative;
  top: -42px;
  margin-bottom: -42px;
}
.tradeBanner div.title {
  height: 40px;
  line-height: 40px;
  margin: 0 5px 0 5px;
  text-align: center;
  border-top: solid 1px #a5a5a5;
  border-bottom: solid 1px #a5a5a5;
  background-color: white;
}
.viewBody {
  padding: 5px;
  border: solid 1px #aaaaaa;
  border-top: none;
  margin: 5px;
  margin-top: 0;
  background-color: #f9f9f9;
}
.panel {
  padding: 5px;
  margin: 5px;
  border: solid 1px #aaaaaa;
  border-radius: 6px;
  background-color: #ffffff;
}
/*--Sell Buy Button--------------------------------------------------------*/
.sellBuyBtn {
  margin-top: 8px;
  margin-bottom: 12px;
}
.sellBuyBtn .inner {
  margin: 0 8px 0 8px;
}
.sellBuyBtn .inner .btn.trade {
  height: 55px;
  width: 130px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 8px;
}
.sellBuyBtn .inner .btn.trade .btnLabel {
  position: relative;
  width: 46px;
  text-align: center;
  height: 17px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.sellBuyBtn .inner .btn.trade .price {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  /*display: -webkit-flex; */
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  top: 5px;
}
.sellBuyBtn .inner .btn.trade .price span {
  text-shadow: 1px -1px #000000;
}
.sellBuyBtn .inner .btn.trade .price span.major {
  font-size: 2.0em;
}
.sellBuyBtn .inner .btn.trade .price span.minor {
  font-size: 1.2em;
}
.sellBuyBtn .inner .btn.trade h3 {
  position: relative;
  top: -18px;
  font-size: 0.8em;
  font-weight: normal;
}
.sellBuyBtn .inner .btn.trade.sell {
  background-color: #c83933;
  float: left;
}
.sellBuyBtn .inner .btn.trade.sell .btnLabel {
  left: 25px;
  background-color: #d04b45;
}
.sellBuyBtn .inner .btn.trade.buy {
  background-color: #00838b;
  float: right;
}
.sellBuyBtn .inner .btn.trade.buy .btnLabel {
  left: 65px;
  background-color: #009ba4;
}
.clear {
  clear: both;
}
/*--Numeric Up/Down control--------------------------------------------------------*/
.numericUpDown {
  margin-right: 5px;
}
.numericUpDown > div {
  float: left;
}
.numericUpDown .title {
  width: 45px;
  height: 20px;
  text-align: right;
  font-size: 1.2em;
  padding-right: 5px;
  /*.border;*/
  padding-top: 10px;
}
.numericUpDown .ctrl {
  border: solid 1px #aaaaaa;
  width: 120px;
  padding: 0;
  white-space: nowrap;
}
.numericUpDown .ctrl > div {
  margin: 0;
  height: 30px;
  float: left;
}
.numericUpDown .ctrl input {
  width: 60px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #f0f0f0;
  font-size: 1.5em;
  text-align: center;
}
.numericUpDown .ctrl .up,
.numericUpDown .ctrl .down {
  width: 30px;
  background-color: #a0a0a0;
  font-size: 2.0em;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.numericUpDown .ctrl .up.false,
.numericUpDown .ctrl .down.false {
  background-color: #d0d0d0;
}
.numericUpDownCtrlDetail {
  font-size: 0.8em;
  height: 30px;
}
.numericUpDownCtrlDetail > label {
  line-height: 38px;
}
/*--Form row--------------------------------------------------------*/
.row {
  min-height: 30px;
  margin: 0 0 10px 0;
  /*.border;*/
}
.row > div {
  float: left;
}
.row .note {
  font-size: 0.8em;
}
.row .heading {
  font-size: 1.2em;
}
.row .forNumericUpDownCtrl {
  margin-left: 48px;
}
.row .col2 {
  margin-left: 10px;
}
/*--On/off switch--------------------------------------------------------*/
.switch {
  height: 30px;
  width: 50px;
  border: solid 1px #aaaaaa;
  border-radius: 20px;
}
.switch .button {
  height: 28px;
  width: 28px;
  border: solid 1px #aaaaaa;
  border-radius: 15px;
}
.switch.on {
  background-color: #00838b;
}
.switch.on .button {
  background-color: #ffffff;
  float: right;
}
.switch.off {
  background-color: #ffffff;
}
.switch.off .button {
  background-color: #ffffff;
  box-shadow: 1px 1px 1px #999;
}
/* 
==================================================================================
Views
==================================================================================
*/
/*--Menu--------------------------------------------------------*/
div.priceinfoheader {
  padding: 2px 0 0 40px;
  height: 18px;
  background-color: #909090;
}
div.priceinfoheader > span {
  display: inline-block;
  width: 62px;
  font-size: 0.9em;
}
div.menu article {
  height: 42px;
  border-bottom: solid 1px #aaaaaa;
  padding: 4px 0 0 4px;
}
div.menu article > div {
  height: 42px;
  padding: 0 0 0 5px;
}
div.menu article > div.nav {
  padding: 0;
}
div.main.menu article > div {
  padding: 0 0 0 5px;
  line-height: 42px;
}
div.price.menu article {
  padding: 4px 0 0 40px;
}
div.price.menu article .priceinfo {
  margin: 4px 0 0 0;
}
div.price.menu article .priceinfo .title {
  font-weight: bold;
}
div.price.menu article .priceinfo > span {
  display: inline-block;
  width: 62px;
  font-size: 0.9em;
}
div.price.menu article .priceinfo .price.plus {
  color: #00838b;
}
div.price.menu article .priceinfo .price.minus {
  color: #c83933;
}
/* 
==================================================================================
Trade Icons
==================================================================================
*/
.trade.icon {
  background: url(images/trade-icons.jpg) no-repeat -5px 0;
}
.trade.icon.icon1 {
  background-position: -5px 0;
}
.trade.icon.icon2 {
  background-position: -47px 0;
}
.trade.icon.icon3 {
  background-position: -88px 0;
}
.trade.icon.icon4 {
  background-position: -130px 0;
}
/* 
==================================================================================
Android
==================================================================================
*/
.androidTabBarGrad {
  background: -webkit-linear-gradient(#5a595a, #202420 50%, #202420);
  background: -o-linear-gradient(#5a595a, #202420 50%, #202420);
  background: -moz-linear-gradient(#5a595a, #202420 50%, #202420);
  background: linear-gradient(#5a595a, #202420 50%, #202420);
}
.androidSummaryBannerGrad {
  background: -webkit-linear-gradient(#303b43, #0e1417 50%, #0e1417);
  background: -o-linear-gradient(#303b43, #0e1417 50%, #0e1417);
  background: -moz-linear-gradient(#303b43, #0e1417 50%, #0e1417);
  background: linear-gradient(#303b43, #0e1417 50%, #0e1417);
}
html.android {
  color: #121212;
  font-family: -apple-system-font;
  font-size: 0.8095238095238095px;
  /*--Summary Banner--------------------------------------------------------*/
  /*--Tool Bar--------------------------------------------------------*/
  /*--Tab Bar--------------------------------------------------------*/
  /*--Menu--------------------------------------------------------*/
}
html.android div#summaryBanner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #bbbcbb;
  border-top: solid 1px #000000;
  background: -webkit-linear-gradient(#5a595a, #202420 50%, #202420);
  background: -o-linear-gradient(#5a595a, #202420 50%, #202420);
  background: -moz-linear-gradient(#5a595a, #202420 50%, #202420);
  background: linear-gradient(#5a595a, #202420 50%, #202420);
}
html.android div#summaryBanner div.inner div#summary #btnViewSearch {
  background: #202020 url(images/search.svg) no-repeat 65% 50%;
  border: solid 1px #101010;
}
html.android div#summaryBanner div.inner div#search span {
  background-color: #202020;
  border: solid 1px #101010;
}
html.android section#toolbar {
  background: -webkit-linear-gradient(#666666, #000000 50%, #000000);
  background: -o-linear-gradient(#666666, #000000 50%, #000000);
  background: -moz-linear-gradient(#666666, #000000 50%, #000000);
  background: linear-gradient(#666666, #000000 50%, #000000);
}
html.android section#toolbar #toolbar-left-item {
  background: url(images/platform/hw-back.svg) no-repeat 50% 0;
}
html.android section#toolbar h1 {
  color: #fff;
}
html.android section#tabbar {
  border-bottom: solid 4px #6a696a;
}
html.android section#tabbar div.tab {
  background: -webkit-linear-gradient(#5a595a, #202420 50%, #202420);
  background: -o-linear-gradient(#5a595a, #202420 50%, #202420);
  background: -moz-linear-gradient(#5a595a, #202420 50%, #202420);
  background: linear-gradient(#5a595a, #202420 50%, #202420);
  border-right: solid 1px #000000;
  height: 50px;
}
html.android section#tabbar div.tab div.inner {
  position: relative;
  height: 50px;
  width: 100%;
}
html.android section#tabbar div.tab div.inner div.title {
  margin-top: 3px;
  color: white;
}
html.android section#tabbar div.tab div.inner div.notify {
  height: 15px;
  width: 15px;
  top: -3px;
  left: 0;
  border: solid 1px #ffffff;
  background-color: #606060;
  border-radius: 4px;
}
html.android section#tabbar div.tab:last-child {
  border: none;
}
html.android section#tabbar div.tab.selected {
  background: none;
  background-color: #6a696a;
}
html.android div.priceinfoheader {
  background-color: #202020;
  box-shadow: 0 1px 6px #000;
}
html.android div.menu {
  background-color: #1e1e1e;
  color: #bbbcbb;
}
html.android div.menu article {
  border-bottom: solid 1px #333734;
}
html.android div.menu article > div.nav {
  padding: 0;
}
/* 
==================================================================================
Android 4
==================================================================================
*/
.android4TabBarGrad {
  background: -webkit-linear-gradient(#5a595a, #202420 50%, #202420);
  background: -o-linear-gradient(#5a595a, #202420 50%, #202420);
  background: -moz-linear-gradient(#5a595a, #202420 50%, #202420);
  background: linear-gradient(#5a595a, #202420 50%, #202420);
}
.android4MainGrad {
  background: -webkit-linear-gradient(#08090a, #21252a);
  background: -o-linear-gradient(#08090a, #21252a);
  background: -moz-linear-gradient(#08090a, #21252a);
  background: linear-gradient(#08090a, #21252a);
}
html.android4 {
  color: #121212;
  font-size: 18px;
  /*--Summary Banner--------------------------------------------------------*/
  /*--Tool Bar--------------------------------------------------------*/
  /*--Tab Bar--------------------------------------------------------*/
  /*--Menu--------------------------------------------------------*/
}
html.android4 body {
  background-color: black;
  font-family: 'roboto';
}
html.android4 section#app section#main {
  background: -webkit-linear-gradient(#08090a, #21252a);
  background: -o-linear-gradient(#08090a, #21252a);
  background: -moz-linear-gradient(#08090a, #21252a);
  background: linear-gradient(#08090a, #21252a);
}
html.android4 div#summaryBanner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #bbbcbb;
  border-top: solid 1px #33b5e5;
  background: none;
  background-color: #030303;
}
html.android4 div#summaryBanner div.inner div#summary #btnViewSearch {
  background: #172126 url(images/search.svg) no-repeat 65% 50%;
  border: solid 1px #101010;
}
html.android4 div#summaryBanner div.inner div#search span {
  background-color: #172126;
  border: solid 1px #101010;
}
html.android4 section#toolbar {
  background: -webkit-linear-gradient(#666666, #000000 50%, #000000);
  background: -o-linear-gradient(#666666, #000000 50%, #000000);
  background: -moz-linear-gradient(#666666, #000000 50%, #000000);
  background: linear-gradient(#666666, #000000 50%, #000000);
}
html.android4 section#toolbar #toolbar-left-item {
  background: url(images/platform/hw-back.svg) no-repeat 50% 0;
}
html.android4 section#toolbar h1 {
  font-family: 'robotocondensedbold';
  font-weight: normal;
  color: #fff;
}
html.android4 section#tabbar {
  border: none;
  background-color: #030303;
  border-top: solid 1px #33b5e5;
  padding-top: 4px;
}
html.android4 section#tabbar div.tab {
  height: 38px;
  border-bottom: solid 1px #33b5e5;
  margin-right: 1px;
}
html.android4 section#tabbar div.tab div.inner {
  position: relative;
  width: 100%;
  height: 35px;
  border-right: solid 1px #292a2b;
}
html.android4 section#tabbar div.tab div.inner div.title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  /*display: -webkit-flex; */
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: white;
  font-size: 0.9em;
}
html.android4 section#tabbar div.tab div.inner div.notifyrow {
  height: 15px;
}
html.android4 section#tabbar div.tab div.inner div.notifyrow div.notify {
  height: 15px;
  width: 15px;
  margin: 0 2px 0 0;
  float: right;
  top: -2px;
  background-color: #42b939;
  font-weight: normal;
  font-size: 0.75em;
}
html.android4 section#tabbar div.tab.selected {
  background: none;
  background-color: #030303;
}
html.android4 section#tabbar div.tab.selected div.inner {
  border-bottom: solid 3px #33b5e5;
}
html.android4 div.priceinfoheader {
  background-color: #202020;
  box-shadow: 0 1px 6px #000;
}
html.android4 div.menu {
  background: none;
  color: #bbbcbb;
}
html.android4 div.menu article {
  border-bottom: solid 1px #333734;
}
html.android4 div.menu article > div.nav {
  padding: 0;
}
html.android4 div.menu article > div.nav div.title {
  font-family: 'robotobold';
  color: #f0f0f0;
}
/* 
==================================================================================
WP8
==================================================================================
*/
/* 
==================================================================================
iOS
==================================================================================
*/
html.ios {
  color: #121212;
  font-family: -apple-system-font;
  font-size: 0.8095238095238095px;
  /*--Tool Bar--------------------------------------------------------*/
  /*--Summary Banner--------------------------------------------------------*/
  /*--Tab Bar--------------------------------------------------------*/
  /*--Menu--------------------------------------------------------*/
}
html.ios section#toolbar {
  background: -webkit-linear-gradient(#666666, #000000 50%, #000000);
  background: -o-linear-gradient(#666666, #000000 50%, #000000);
  background: -moz-linear-gradient(#666666, #000000 50%, #000000);
  background: linear-gradient(#666666, #000000 50%, #000000);
}
html.ios section#toolbar #toolbar-left-item {
  padding-left: 18px;
  background: url(images/platform/left-green.svg) no-repeat 5% 50%;
}
html.ios section#toolbar h1 {
  color: white;
}
html.ios section#toolbar #toolbar-right-item {
  padding-right: 3px;
}
html.ios div#summaryBanner div.inner div#summary #btnViewSearch {
  background: #006b72 url(images/search.svg) no-repeat 65% 50%;
  border: solid 1px #005358;
}
html.ios div#summaryBanner div.inner div#search span {
  background-color: #006b72;
  border: solid 1px #005358;
}
html.ios section#tabbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e0e0e0;
}
html.ios section#tabbar div.tab div.inner {
  position: relative;
  width: 100%;
  height: 50px;
}
html.ios section#tabbar div.tab div.inner div.title {
  font-size: 0.9em;
  margin-top: 15px;
}
html.ios section#tabbar div.tab div.inner div.notify {
  height: 15px;
  width: 15px;
  top: 1px;
  left: 10px;
  border: solid 1px #ffffff;
  background-color: red;
  border-radius: 6px;
}
html.ios section#tabbar div.watchlist {
  background: url(images/platform/tab-bar-icons2.png) no-repeat 50% 5px;
}
html.ios section#tabbar div.watchlist.selected {
  background: url(images/platform/tab-bar-icons2-sel.png) no-repeat 50% 5px;
}
html.ios section#tabbar div.browse {
  background: url(images/platform/tab-bar-icons2.png) no-repeat 50% -50px;
}
html.ios section#tabbar div.browse.selected {
  background: url(images/platform/tab-bar-icons2-sel.png) no-repeat 50% -50px;
}
html.ios section#tabbar div.position {
  background: url(images/platform/tab-bar-icons2.png) no-repeat 50% -105px;
}
html.ios section#tabbar div.position.selected {
  background: url(images/platform/tab-bar-icons2-sel.png) no-repeat 50% -105px;
}
html.ios section#tabbar div.account {
  background: url(images/platform/tab-bar-icons2.png) no-repeat 50% -160px;
}
html.ios section#tabbar div.account.selected {
  background: url(images/platform/tab-bar-icons2-sel.png) no-repeat 50% -160px;
}
html.ios section#tabbar div.help {
  background: url(images/platform/tab-bar-icons2.png) no-repeat 50% -215px;
}
html.ios section#tabbar div.help.selected {
  background: url(images/platform/tab-bar-icons2-sel.png) no-repeat 50% -215px;
}
html.ios section#tabbar div.selected {
  color: #007aff;
}
html.ios div.priceinfoheader {
  background: -webkit-linear-gradient(#666666, #000000 50%, #000000);
  background: -o-linear-gradient(#666666, #000000 50%, #000000);
  background: -moz-linear-gradient(#666666, #000000 50%, #000000);
  background: linear-gradient(#666666, #000000 50%, #000000);
  color: white;
  border-bottom: solid 1px #aaaaaa;
}
html.ios div.menu {
  background-color: #fff;
}
html.ios div.menu article > div.nav {
  background: url(images/platform/right.svg) no-repeat right 50%;
  padding: 0;
}
html.ios div.price.menu article {
  background: url(images/settings.png) no-repeat 3px 50%;
}