html.ios section#app {
  margin-top: 20px;
}
html.ios section#app section#main {
  background-color: #000;
}
html.ios section#toolbar {
  background-image: -webkit-linear-gradient(top, #666, #000 50%, #000);
  background-image: -moz-linear-gradient(top, #666, #000 50%, #000);
  background-image: -ms-linear-gradient(top, #666, #000 50%, #000);
  background-image: -o-linear-gradient(top, #666, #000 50%, #000);
  background-image: linear-gradient(top, #666, #000 50%, #000);
}
html.ios section#toolbar #toolbar-left-item {
  padding-left: 18px;
  background: url("images/platform/left-green.svg") no-repeat 5% 50%;
}
html.ios section#toolbar h1 {
  color: #fff;
}
html.ios section#toolbar #toolbar-right-item {
  padding-right: 3px;
}
html.ios div#summaryBanner div.inner div#summary #btnViewSearch {
  background: #007c84 url("images/search.svg") no-repeat 65% 50%;
  border-top: solid 1px #00767d;
  border-right: solid 1px #00767d;
  border-bottom: solid 1px #00767d;
  border-left: solid 1px #00767d;
}
html.ios div#summaryBanner div.inner div#search span {
  background-color: #007c84;
  border-top: solid 1px #00767d;
  border-right: solid 1px #00767d;
  border-bottom: solid 1px #00767d;
  border-left: solid 1px #00767d;
}
html.ios section#tabbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e0e0e0;
}
html.ios section#tabbar div.tab div.inner {
  position: relative;
  width: 100%;
  height: 50px;
}
html.ios section#tabbar div.tab div.inner div.title {
  font-size: 0.9em;
  margin-top: 15px;
}
html.ios section#tabbar div.tab div.inner div.notify {
  top: 1px;
  left: 10px;
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  border-left: solid 1px #fff;
  background-color: #f00;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
html.ios section#tabbar div.watchlist {
  background: url("images/platform/tab-bar-icons2.png") no-repeat 50% 5px;
}
html.ios section#tabbar div.watchlist.selected {
  background: url("images/platform/tab-bar-icons2-sel.png") no-repeat 50% 5px;
}
html.ios section#tabbar div.browse {
  background: url("images/platform/tab-bar-icons2.png") no-repeat 50% -50px;
}
html.ios section#tabbar div.browse.selected {
  background: url("images/platform/tab-bar-icons2-sel.png") no-repeat 50% -50px;
}
html.ios section#tabbar div.position {
  background: url("images/platform/tab-bar-icons2.png") no-repeat 50% -105px;
}
html.ios section#tabbar div.position.selected {
  background: url("images/platform/tab-bar-icons2-sel.png") no-repeat 50% -105px;
}
html.ios section#tabbar div.account {
  background: url("images/platform/tab-bar-icons2.png") no-repeat 50% -160px;
}
html.ios section#tabbar div.account.selected {
  background: url("images/platform/tab-bar-icons2-sel.png") no-repeat 50% -160px;
}
html.ios section#tabbar div.help {
  background: url("images/platform/tab-bar-icons2.png") no-repeat 50% -215px;
}
html.ios section#tabbar div.help.selected {
  background: url("images/platform/tab-bar-icons2-sel.png") no-repeat 50% -215px;
}
html.ios section#tabbar div.selected {
  color: #007aff;
}
html.ios div.priceinfoheader {
  background-image: -webkit-linear-gradient(top, #666, #000 50%, #000);
  background-image: -moz-linear-gradient(top, #666, #000 50%, #000);
  background-image: -ms-linear-gradient(top, #666, #000 50%, #000);
  background-image: -o-linear-gradient(top, #666, #000 50%, #000);
  background-image: linear-gradient(top, #666, #000 50%, #000);
  color: #fff;
  border-bottom: solid 1px #000;
}
html.ios div.menu {
  background-color: #fff;
}
html.ios div.menu article > div.nav {
  background: url("images/platform/right.svg") no-repeat right 50%;
  padding: 0;
}
html.ios div.price.menu article {
  background: url("images/fe.png") no-repeat 3px 50%;
}
@media only screen and (max-device-width: 480px) {
  html.ios {
    font-family: -apple-system-font;
    font-size: 17px/21px;
  }
  html.ios section#main {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
