@require('../base/platform.styl');



html.ios
	
	> *
		-webkit-tap-highlight-color rgba(0,0,0,0)
		font-family -apple-system-font, arial
		::-webkit-scrollbar 
			display none

	input[type="text"].norm
		borders(#606060, important: true)
		round-corners(4px)

	section#main
		overflow-y hidden
		.view-wrapper
			padding-top 90px


	section#app
		margin-top 20px  //allow room for status bar

	section#summaryBanner
		background $summaryBannerBgColor
		position absolute
		background-color rgba(200, 200, 200, 0.9)
		top 70px
		z-index 1

		div.inner 
			div.slide 
				div#search input
					margin-top 3px

	section#toolbar
		// linear-gradient-3-stops(#666, #000 50%, #000)
		position absolute
		top 20px
		// background-color rgba(1, 1, 1, 0.7)
		z-index 1
		background rgba(255, 255, 255, 0.9) repeat-x bottom left url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#000' x='0' y='0' width='1' height='0.5'/></svg>");
		
		h1
			color black

		#toolbar-left-item
			padding-left 18px
			background url('images/platform/left-green.svg') no-repeat 5% 50%

		#toolbar-right-item
			padding-right 3px


	section#tabbar
		position absolute
		bottom 0
		left 0
		width 100%
		background-color #e0e0e0
		div.tab
			div.inner
				div.title
					font-size 0.9em
					margin-top 15px
				
				div.notify
					top 1px
					left 10px
					borders(#fff)
					background-color red
					round-corners()

		div.watchlist
			background url('images/platform/tab-bar-icons2.png') no-repeat 50% 5px
		
		div.watchlist.selected
			background url('images/platform/tab-bar-icons2-sel.png') no-repeat 50% 5px
		
		div.browse
			background url('images/platform/tab-bar-icons2.png') no-repeat 50% -50px
		
		div.browse.selected
			background url('images/platform/tab-bar-icons2-sel.png') no-repeat 50% -50px
		
		div.position
			background url('images/platform/tab-bar-icons2.png') no-repeat 50% -105px
		
		div.position.selected
			background url('images/platform/tab-bar-icons2-sel.png') no-repeat 50% -105px
		
		div.account
			background url('images/platform/tab-bar-icons2.png') no-repeat 50% -160px
		
		div.account.selected
			background url('images/platform/tab-bar-icons2-sel.png') no-repeat 50% -160px
		
		div.help
			background url('images/platform/tab-bar-icons2.png') no-repeat 50% -215px
		
		div.help.selected
			background url('images/platform/tab-bar-icons2-sel.png') no-repeat 50% -215px
		
		div.selected
			color $tabBarActiveTextColor


	div.priceinfoheader
		linear-gradient-3-stops(#666, #000 50%, #000)
		color white
		borders(sides: bottom)


	div.menu
		background-color #fff
		//padding-top 90px

		article
			border none
			hairline(#a0a0a0)
			> div.nav
				background url('images/platform/right.svg') no-repeat right 50%
				padding 0


	div.price.menu
		article
			background url('images/fe.png') no-repeat 3px 50%


	// ios 7 style transition where leaving view slower than entering view
	#app.forward
		#main
			.slide.ng-enter
			.slide.ng-enter.ng-enter-active
				-webkit-transition all 0.25s linear !important
				transition all 0.25s linear !important
			.slide.ng-leave
				-webkit-transition all 0.9s linear !important
				transition all 0.9s linear !important


@media only screen and (max-device-width: 480px)
	html.ios
		font-family -apple-system-font
		font-size 17px/21px
		section#main
			overflow scroll
			-webkit-overflow-scrolling touch


